[submodule "haiku"]
	path = haiku
	url = https://github.com/haiku/haiku.git
	branch = master
[submodule "buildtools"]
	path = buildtools
	url = https://github.com/haiku/buildtools.git
	branch = master
[submodule "mesa"]
	path = mesa
	url = https://github.com/alextnewman/mesa.git
	branch = jido-renga/haiku-crocus-p2
